

:root {
--color-primary: #2E2F42;
--color-secondary: #434455;
--color-inverted: #FFFFFF;
--color-button: #4D5AE5;
--color-page: #E7E9FC;
--color-hover: #404BBF;
--color-team: #F4F4FD;
--color-social: #31D0AA;
} 
 
body {
background-color: var(--color-inverted);
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
}

.list {
list-style: none;
margin: 0;
padding: 0;
}

* {
margin: 0;
padding: 0;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
border: 0;
clip: rect(0 0 0 0);
}

p,
h1,
h2,
h3,
h4 {
margin-top: 0;
}

img {
object-fit: cover;
}

/*  Верхня головна    */
.header-menu {
display: none;
gap: 40px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (max-width: 768px) {
    .header-menu{
    display: none;
    }
}

.heder-adres {
display: flex;
gap: 40px;
}

@media (max-width: 1200px) {
 .heder-adres {
    flex-direction: column;
    gap: 12px;
    padding: 16px 0 16px 0;
 }
}


.page-heder{
border-bottom: 1px solid var(--color-page);
background: var(--color-inverted);
display: block;
}

.header-container {
display: flex;
align-items: center;
justify-content: space-between;
}

.header-nav {
display: flex;
align-items: center;
flex-grow: 1;
gap: 120px;
}

@media (min-width: 1200px) {
 .header-nav {
     gap: 76px;
 }
}


.logo-second {
margin-bottom: 24px;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--color-primary);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
}

.logo-first {
font-family: 'Raleway' ,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--color-button);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
padding-top: 25.5px;
padding-bottom: 25.5px;
}

@media (max-width: 768px) {
    .logo-first {
    padding-top: 25.5px;
        padding-bottom: 23.5px;
    }
}

.menu-nav {
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-primary);
text-decoration: none;
list-style: none;
padding: 28px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
    .menu-nav {
    padding: 24px 0;
    }
}

.menu-studio::after {
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
content: '';
display: block;
position: absolute;
bottom: 0;
}

.menu-studio {
position: relative;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-hover);
text-decoration: none;
padding: 28px 0;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
    .menu-studio {
        padding: 24px 0;
    }
}

.menu-nav:hover{
 color: var(--color-hover);
}    

/*  Container  */
.container {
width: 100%;
max-width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

@media (max-width: 1200px) {
    .container {
    max-width: 768px;
    padding: 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 396px;
    }
}

.box-address {
padding: 16 0 16 0;
font-family: 'Roboto',sans-serif;
font-style: normal;
line-height: 1.16;
font-weight: 400;
font-size: 12px;
font-size: 16px;
text-decoration: none;
color: var(--color-secondary);
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
 .box-address{
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 16px;
    line-height: 1.5;
 }
}

.box-address:hover {
color: var(--color-hover);
}

@media (min-width: 768px) {
    .box-heder-icom {
       display: none;
    }
}


.header-burger {
display: flex;
align-items: center;
justify-content: space-between;
width: 29.54px;
height: 18.62px;
padding: 0;
fill: var(--color-primary);
background-color: transparent;
border: none;
}

/* mobile menu */
@media (min-width: 768px) {
     .mobile-menu {
     display: none;
     }
}


@media (max-width: 768px) {
   .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-inverted);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media (max-width: 768px) {
   .mobile-menu.is-open{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }
}



@media (max-width: 768px) {
    .mobile-menu-container {
    position: relative;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    .menu-comand {
        margin-bottom: auto;
    }
}


@media (max-width: 768px) {
    .tel-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        list-style: none;
    }
}

.menu-studio-tel::after {
width: 100%;
height: 4px;
background-color: #404BBF;
border-radius: 2px;
content: '';
display: block;
position: absolute;
bottom: 0;
display: none;
}


.menu-studio-tel{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: var(--color-hover);
text-decoration: none;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-tel{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: var(--color-primary);
text-decoration: none;
list-style: none;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-menu-tel{
display: flex;
flex-direction: column;
gap: 40px;
margin-bottom: 48px;
list-style: none;
}


.box-address-tel {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
color: var(--color-button);
text-decoration: none;
}

.box-address-mail {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-secondary);
    text-decoration: none;
}

.box-media-tel {
display: flex;
gap: 56px;
align-items: flex-end;
flex-wrap: wrap;
}

.social-media-tel {
list-style: none;
}

.link-media-tel {
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: var(--color-button);
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.imag-media-tel {
width: 24px;
    height: 24px;
    fill: var(--color-team);
}

/*  2 частина з кнопкою   */
.hero-section {
background-color: var(--color-secondary);
background-image:  linear-gradient(rgba(46, 47, 66, 0.7), 
rgba(46, 47, 66, 0.7)), 
url(../images/people-office\ 1.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding-top: 112px;
padding-bottom: 188px;
text-align: center;
margin: 0 auto;
max-width: 1440px;
}

@media (min-width: 1200px) {
    .hero-section {
        background-color: var(--color-secondary);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office\ 1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 188px;
        padding-bottom: 188px;
        text-align: center;
        margin: 0 auto;
        max-width: 1440px;
    }
}

@media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)),url(../images/people-office\ @2x.jpg);
    }
    
}

.hero-title {  
max-width: 320px;
margin: 0 auto 72px;
text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.07;
color: var(--color-inverted);
letter-spacing: 0.02em;
}

@media (min-width: 768px) {
    .hero-title {
        margin: 0 auto 36px;
    }
}

@media (min-width: 1200px) {
    .hero-title {
        max-width: 496px;
        margin: 0 auto 48px;
        font-size: 56px;
    }
}


.button {
width: 169px;
height: 56px;
font-size: 16px;
line-height:1.5;
border-radius: 4px;
font-weight: 500;
color:  var(--color-inverted);
box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.15);
background: var(--color-button);
cursor: pointer;
border: none;
font-family: inherit;
transition: background-color 250ms;
}

.button:hover {
background-color: var(--color-hover);
}
 
/*  section  */
.section {
padding-top: 120px;
margin: 0;
}

@media (max-width: 1200px) {
    .section {
    padding-top: 96px;
    padding-bottom: 96px;
    }
    
}

.section-what-doing{
padding-bottom: 120px;
padding-top: 120px;
margin: 0;
}

@media (max-width: 1200px) {
    .section-what-doing {
        display: none;
    }
}

/*  3 частина багато тексту  */

.about-text {
    flex-basis: calc((100% - 72px) / 4);
}

@media (max-width: 1200px) {
    .about-text {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media (max-width: 768px) {
    .about-text {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 72px;
    }
}

.about-text:last-child {
    margin: 0;
}

.section-subtitle {
margin-bottom: 8px;
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
color: var(--color-primary);
}

@media (max-width: 1200px) {
    .section-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
    }
}

.section-text {
margin-bottom: 0px;
font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 1.5;
color: var(--color-secondary);
}

@media (max-width: 1200px) {
    .section-text {
    font-weight: 500;
    text-align: left;
    }
}

.hero-uk {
list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .hero-uk {
    gap: 72px 24px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 96px;
    }
}

.studio {
    visibility: hidden;
}

.image-svg {
    width: 64px;
    height: 64px;
}

.social-link {
display: flex;
height: 112px;
background-color: var(--color-team);
border-radius: 4px;
justify-content: center;
align-items: center;
margin-bottom: 8px;
}

@media (max-width: 1200px) {
    .social-link {
        display: none;
    }
}

/* 4 фото і що ми робимо  */

.picture {
    align-items: center;
    display: flex;
    gap: 24px;
    list-style: none;
    padding-left: 0px;
}

.images-comp img {
    width: 100%;
    height: 100%;
}

.slogan-images {
    text-align: center;
    margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--color-primary);
}

.images-comp {
    flex-basis: calc((100% - 48px) / 3);
    display: block;
    max-width: 100%;
    border: 1px solid var(--color-page);
    width: 360px;
    height: 300px;
}

/*  5 робочі   */

.team-aside {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-primary);
}

.content-aside {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    margin-bottom: 0px;
}

.foto-master {
    display: block;
    max-width: 100%;
}

.h-second-aside {
text-align: center;
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
color: var(--color-primary);
padding-bottom: 0;
font-style: normal;
}

.masters-list {
display: flex;
gap: 24px;
justify-content: center;
text-align: center;
margin: 0;
padding: 0;
flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .masters-list {
    gap: 64px 24px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    }
}

.box-aside {
background: var(--color-inverted);
list-style-type: none;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}



.page-aside {
padding-top: 120px;
padding-bottom: 120px;
background-color: var(--color-team);
}

@media (max-width: 1200px) {
    .page-aside {
    padding-top: 96px;
    padding-bottom: 96px;
    }
}


.master {
    text-align: center;
    padding: 32px 16px 32px 16px;

}


/*  социал сети   */

.social-list {
    margin-top: 8px;
    padding-left: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-box {
    width: 40px;
    height: 40px;
}

.social-images {
    width: 16px;
    height: 16px;
    fill: var(--color-team);
}

.link-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-button);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-soc:hover {
    background-color: var(--color-hover);
}


/*  customers  */


@media (min-width: 1200px) {
    .name-box {
    text-align: center;
    margin-bottom: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--color-primary);
    }
}

.list-customer {
display: flex;
flex-wrap: wrap;
justify-content: center;
list-style: none;
gap: 72px 16px;
margin-top: 72px;
}

@media (min-width: 768px) {
    .list-customer {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
    }
}


@media (min-width: 1200px) {
    .list-customer {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 0;
    }
}

.box-custom {
    height: 88px;
    flex-basis: calc((100% - 120px) / 6);
}

@media (max-width: 1200px) {
    .box-custom {
    flex-basis: calc((100% - 120px) / 3);
    }
}

@media (max-width: 768px) {
    .box-custom {
        flex-basis: calc((100% - 16px) / 2);
    }
}

.link-cust {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-cust:hover {
    border-color: var(--color-hover);
    border: 1px solid var(--color-hover);
}

.imag-cust {
    width: 104px;
    height: 56px;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-cust:hover .imag-cust {
    fill: var(--color-hover);
}

.section-menu-text {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media (max-width: 1200px) {
    .section-menu-text {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

/*  6  кінець головної  */

.container.footer {
align-items: baseline;
display: flex;
}

@media (max-width: 1200px) {
    .container.footer {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .container.footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--color-primary);
}

@media (min-width: 1200px) {
    .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    }
}

.logo-third {
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    color: var(--color-team);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.footer-slogan {
margin-top: 17.5px;
margin-bottom: 0px;
color: var(--color-page);
}

.future-title {
    max-width: 264px;
}

@media (max-width: 1200px) {
    .future-title {
    padding-bottom: 72px;
    display: flex;
    align-items: center;
    flex-direction: column;
    }
}

.social-word {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: var(--color-inverted);
margin-top: 0px;
margin-bottom: 16px;
}
 

/* Baner */

.footer-media {
margin-left: 120px;
}

@media (max-width: 768px) {
    .footer-media {
        margin: 0;
        padding-bottom: 72px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.box-media {
margin-top: 0;
margin-bottom: 0;
padding-left: 0px;
list-style: none;
display: flex;
gap: 16px;
justify-content: center;
}

.social-media {
    width: 40px;
    height: 40px;
}

.imag-media {
    width: 24px;
    height: 24px;
    fill: var(--color-team);
}

.link-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-media:hover {
    background-color: var(--color-social);
}

.logo-first-two {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
color: var(--color-button);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.03em;
padding: 0;
}

/* Subscribe */

.subtitle-box {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px) {
    .subtitle-box {
        display: block;
        margin-left: o;
    }
}

@media (min-width: 1200px) {
    .subtitle-box {
    display: block;
    margin-left: auto;
    padding-left: 80px;
    }
}

.subtitle-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.contein-subsc {
    display: flex;
}

.content-email {
    width: 264px;
    height: 40px;
    padding: 8px 0 8px 18px;
    margin-left: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: var(--color-inverted);
    margin-right: 20px;
}

@media (max-width: 768px) {
    .content-email {
        margin-right: 0;
        width: 100%;
    }
}

.content-email:focus {
    outline: none;
    border: 1px solid var(--color-button);
}


.button-subs {
display: flex;
align-items: center;
justify-content: center;
fill: #F4F4FD;
font-family: 'Roboto';
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
width: 165px;
height: 40px;
border-radius: 4px;
border: none;
cursor: pointer;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 768px) {
    .button-subs {
        margin-top: 16px;
    }
}

.button-subs:hover {
    background-color: var(--color-hover);
}

.email-sub {
    position: absolute;
    color: #E7E9FC;
}


.telegram {
    width: 34px;
    height: 24px;
    padding-left: 10px;
    display: inline-block;
    fill: var(--color-inverted);
}

.box-button-sub {
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .box-button-sub {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    }
}

.subscribe {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

/*  Portfolio початок   */
.site-nav-portfolio {
    position: relative;
    padding: 28px 0;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-hover);
    text-decoration: none;
    list-style: none;
}

@media (min-width: 1200px) {
    .site-nav-portfolio {
        padding: 24px 0;
    }
}

.site-nav-portfolio::after {
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
}

.site-nav {
    padding: 28px 0;
    margin-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
    list-style: none;
}

@media (min-width: 1200px) {
    .site-nav {
        padding: 24px 0;
    }
}

.site-nav:hover {
    color: var(--color-hover);
}

.portfolio-main {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-content {
    margin-bottom: 72px;
    gap: 24px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 0px;
}

@media (min-width: 768px) {
    .portfolio-content {
        margin-bottom: 72px;
        gap: 24px;
        list-style: none;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        margin-top: 0px;
    }
}

.button-port-all {
    font-family: inherit;
    padding: 12px 24px;
    background-color: var(--color-hover);
    color: var(--color-inverted);
    cursor: pointer;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-page);
    border-color: var(--color-hover);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-port {
    padding: 12px 24px;
    background-color: var(--color-team);
    color: var(--color-button);
    cursor: pointer;
    border: 1px solid var(--color-page);
    font-family: inherit;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-port:hover {
    background-color: var(--color-hover);
    color: var(--color-inverted);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-color: var(--color-hover);
}

/*  2 секція  */
.box-desc-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-secondary);
    margin-bottom: 0;
}

.box-content-port {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-primary);
}

.picture-port {
    gap: 48px 24px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.box-aside-port {
    box-sizing: border-box;
    list-style: none;
}

.box-aside-port:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.hero-port {
    display: none;
}

.program {
    text-decoration: none;
    display: block;
}

.program-pad {
    padding: 32px 16px 32px 16px;
    border: 1px solid var(--color-page);
}

.foto-program {
    display: block;
    max-width: 100%;
}

/* Выезжает */
.master-description {
    position: absolute;
    background-color: var(--color-button);
    color: var(--color-team);
    padding: 40px 32px 40px 32px;
    max-width: 360px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.program:hover .master-description {
    transform: translateY(0);
}

.master-images {
    position: relative;
    overflow: hidden;
}

.text {
    margin-bottom: 0;
}

/* modal  */


.icon-close {
    fill: currentColor;
}

.backdrop {
position: fixed;
top: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
padding-top: 88px;
padding-bottom: 13px;
transition: opacity 500ms, visibility 500ms;
}

.backdrop.is-hidden {
opacity: 0;
visibility: hidden;
pointer-events: none;
}

.modal {
padding: 72px 24px 24px 24px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}

@media (max-width: 768px) {
    .modal {
        width: 392px;
    }
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--color-page);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--color-hover);
    color: var(--color-inverted);
}

.modal-close:hover .icon-close {
    fill: var(--color-inverted);
}

/*Інформація */


.box-contact {
    margin-bottom: 16px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.002em;
    color: var(--color-primery);
    margin-bottom: 16px;
}


.content {
    width: 100%;
    height: 40px;
    padding: 11px 0 11px 38px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content:focus {
    outline: none;
    border: 1px solid var(--color-button);
}


.content:focus+.icon-form {
    fill: var(--color-button);
}


.button-coment {
    display: flex;
    justify-content: center;
}

.btn-form {
width: 169px;
height: 56px;
border: none;
border-radius: 4px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
color: #FFFFFF;
background-color: var(--color-button);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover,
.btn-form:focus {
 background-color: var(--color-hover);
}


.form-label-name {
    font-size: 12px;
    line-height: 1.16;
    color: #8E8F99;
}

.span-contact {
    margin: 0 0 4px;
    display: block;
}

.form-label-phone {
    font-size: 12px;
    line-height: 1.16;
    display: block;
    color: #8E8F99;
    margin-top: 8px;
}


.form-label-email {
    font-size: 12px;
    line-height: 1.16;
    display: block;
    color: #8E8F99;
    margin-top: 8px;
}

.form-label-coment {
    font-size: 12px;
    line-height: 1.16;
    display: block;
    color: #8E8F99;
    margin-top: 8px;
}

.form-input {
    width: 100%;
    height: 120px;
    resize: none;
    font-size: 12px;
    padding: 8px 0 0 16px;
    color: #2E2F42;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    outline: none;
    border: 1px solid var(--color-button);
    border-radius: 4px;
}


.privacy-policy {
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}


.type-polic::before {
    display: block;
    content: '';
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 8px;
}

.visually-hidden-pol:checked+.type-polic::before {
    background-color: var(--color-button);
    background-image: url(../images/vector.svg);
    border: 1.25px solid;
    border-color: #404bbf;
    background-repeat: no-repeat;
    background-size: 10px 8px;
    background-position: center;
}

.visually-hidden-pol:focus+.type-polic::before {
    border-color: #404bbf;
}

.type-polic {
    position: relative;
    width: 100%;
    height: 16px;
    color: #8E8F99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    display: flex;
    align-items: center;
}

.priv-pol {
    color: var(--color-button);
    line-height: 1.16;
}

.input-form {
    position: relative;
}

.icon-form {
    width: 18px;
    position: absolute;
    fill: #2E2F42;
    display: block;
    top: 50%;
    left: 19px;
    transform: translate(0, -50%);
    transition: fill-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.logo-first:l-child {
padding: 0;
}